.vscode/settings.json
__pycache__/*
*.pyc
cache/*
static/result/*
*.code-workspace
frontend/node_modules
configs/meta.json
custom/opencv_zoo
frontend/dist
frontend/dist/index.html
resultimg
demo.py
frontend/dist/index.html
